@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.content {
    width: 100%;
    height: 85%;
    position: absolute;
    transform: rotateY(-50%);
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75) ),url(luxury.jpg) ;
    background-size: cover;
    background-position: center;
}

.content h1 {
    font-size: 70px;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    font-size: 25px;
    line-height: 25px;
    font-family: sans-serif;
    color: white;
}