@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.2);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    top: 0;
    position: sticky
}

.logo {
    margin-left: 1rem;
    color: #ffa500;
    font-size: 50px;
    font-weight: bolder;
}

.ul {
    display: flex;
    margin: 25px;
}

.link a:hover{
    color: black;
}

.item {
    display: flex;
}

li {
    margin: 0 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: orange;
    font-weight: bolder;
}